/*
  Estudo de funcionamento dos Keyframes CSS>> 
*/

body{
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.load{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border: solid 8px rgba(0, 0, 0, 0.466);
  border-left-color: red;
  border-radius: 50%;
  animation: flash 5s infinite, spin 1s infinite;
}

.load2{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border: solid 8px rgba(0, 0, 0, 0.466);
  border-left-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: 5s infinite, spin 1s infinite;
}

.load3{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  border: solid 8px rgba(0, 0, 0, 0.466);
  border-left-color: flash;
  border-radius: 50%;
  animation: borderChange 5s infinite, spin 1s infinite;
}


@keyframes spin {
  to{ transform: rotate(360deg);}
}

 @keyframes flash {
  0%{background: rgb(138, 0, 0);}
  50%{background: rgb(250, 118, 66);}
  100%{background: rgb(41, 172, 2);}  
}  

 @keyframes borderChange {
  0%{border-left-color: rgba(247, 28, 28, 0.507);}
  20%{border-left-color: rgb(247, 28, 28);}
  40%{border-left-color: rgba(250, 118, 66, 0.288);}
  60%{border-left-color: rgb(250, 118, 66);}
  80%{border-left-color: rgba(42, 172, 2, 0.308);}
  100%{border-left-color: rgb(42, 172, 2);}
}  